*{
  text-align: center;
}
body, html{
  height: 100%;
}
.outer_layout{
  display: grid;
  place-items: center;
  height: 100%;
}
.inner_layout{
  width:100%;
  display: none;
  flex-wrap: wrap;
  gap:1rem;
  justify-content:space-evenly;
}
.board1, .board2, .creater_board{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 3px solid red;
  border-radius: 0.2rem;
}
.plot{
  border: 1px solid red;
}
.plot:hover{
  background: rgb(204, 204, 204);
}
.demo{
  color:rgb(69, 216, 249);
}
.creater_board{
  height: 400px;
  width: 400px;
}
.creater_layout{
  display: grid;
  place-items: center;
  gap: 2em;
}
button{
  height: fit-content;
}
.heading{
  font-size: 2rem;
  padding: 1rem;
}
.endpoint_text{
  display:none;
}