@font-face {
  font-family: "Roboto-bold";
  src: url('./font/Roboto-Bold.woff2')format('woff2'),
    url('./font/Roboto-Bold.woff')format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url('./font/Roboto-Regular.woff2')format('woff2'),
    url('./font/Roboto-Regular.woff')format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  font-family: 'Roboto';
  text-align: center;
  box-sizing: border-box;
}
body, html{
  padding:0;
  margin:0;
  height: 100%;
}
.outer_layout{
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
}
.inner_layout{
  width:100%;
  display:none;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
}
.board, .creater_board{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 3px solid red;
  border-radius: 0.2rem;
}
.plot{
  border: 1px solid red;
}
.plot:hover{
  background: rgb(204, 204, 204);
}
.demo{
  color:rgb(69, 216, 249);
}
.creater_board{
  height: 400px;
  width: 400px;
}
.creater_layout{
  display: grid;
  place-items: center;
  gap: 2em;
}
button{
  height: fit-content;
  background-color: #1a73e8;
  color: white;
  border-radius: 2px;
  border:none;
  padding:0.3rem;
  cursor: pointer;
}
.heading{
  font-family: 'Roboto-Bold';
  font-size: 2rem;
  padding: 1rem;
}
.end_point_txt{
  display:none;
}
button:hover{
  background-color:#45d8f9;
  color:black;
  box-shadow: inset;
}
.inner_layout .menu{
  display: grid;
  gap: 1rem;
}
.inner_layout .menu .reveal{
  display: none;
}
.greetings_layout{
  display:none;
  place-items: center;
  height: 100%;
  width: 100%; 
  backdrop-filter:blur(5px);
  position: absolute;
}
.greetings_layout .card{
  display:grid;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.80);
  padding:3% 10%;
  gap:1rem;
}
.greetings_layout .greeting{
  color:white;
  font-size: 3.5rem;
  font-weight: 900;
}
.greetings_layout .menu{
  display: grid;
  grid-auto-flow: column;
  gap:1rem;
}
.greetings_layout .menu button{
  border-radius: 1rem;
}
.greetings_layout .gif{
  display: grid;
}
.greetings_layout .gif img{
  border-radius: 1rem;
  max-height: 300px;
  display:none;
  place-self: center;
}