*{
  text-align: center;
  box-sizing: border-box;
}
body, html{
  padding:0;
  margin:0;
  height: 100%;
}
.outer_layout{
  display: grid;
  place-items: center;
  height: 100%;
}
.inner_layout{
  width:100%;
  display: none;
  flex-wrap: wrap;
  gap:1rem;
  justify-content:space-evenly;
}
.board, .creater_board{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 3px solid red;
  border-radius: 0.2rem;
}
.plot{
  border: 1px solid red;
}
.plot:hover{
  background: rgb(204, 204, 204);
}
.demo{
  color:rgb(69, 216, 249);
}
.creater_board{
  height: 400px;
  width: 400px;
}
.creater_layout{
  display: grid;
  place-items: center;
  gap: 2em;
}
button{
  height: fit-content;
  background-color: #1a73e8;
  color: white;
  border-radius: 2px;
  border:none;
  padding:0.3rem;
}
.heading{
  font-size: 2rem;
  padding: 1rem;
}
.end_point_txt{
  display:none;
}
button:hover{
  border: 1px solid #00357a;
  box-shadow: inset;
}